<div class="contact">
  <h3>Contact Rescue Press:</h3>
  <p>
  <h4>Publisher &amp; Editress-In-Chief:</h4>
  <cite>Caryl Pagel</cite>
  </p>
  <p>
  <h4>Managing Editor:</h4>
  <cite>Danny Khalastchi</cite>
  </p>
  <p>    
  <h4>Contributing Editors:</h4>
  <ul>
    <li><cite>Lauren Shapiro</cite></li>
    <li><cite>Hilary Plum</cite></li>
  </ul>
  </p>
  <p>
  <h4>Cover Designer:</h4>
  <cite>Skye McNeill</cite>
  </p>
  <p>
  <h4>Design Intern:</h4>
  <cite>Sevy Perez</cite>
  </p>
  
  <p>
    Questions and communication can be directed to the editors at 
    <a href="mailto:rescuepress@gmail.com">rescuepress@gmail.com</a>
    Send us a note if you would like to be included on our mailing list. 
  </p>
</div>
<aside class="snippet">
  <figure>
    <%= image_tag "Lung-Rescue.jpg" %>
  </figure>
</aside>
