<div class="about">
  <h3>
    Rescue Press publishes work by activists, artists, craftsmen, entrepreneurs, 
    list-makers, philosophers, poets, scientists, writers, and creative thinkers 
    of all kinds. 
  </h3>
  <p>
    We are interested in small collections of artwork, comics, compositions, essays, 
    experiments, how-tos, interrogations, lectures, lists, manifestos, notes, 
    outlines, poetry, procedures, questions, reviews, sketches, stories, 
    technical prose, textbooks, travel writing, and anything else that transforms us. 
  </p>
  <p>
    For further information regarding author news, release dates, and our "Safety 
    Book" interview series, please visit our 
    <a href="http://rescuepress.wordpress.com/" target="_blank">Blog</a>.
  </p>
</div>
<aside class="snippet">
  <figure>
    <img src="images/figure-6.png">
  </figure>
</aside>
