<div class="links">
  <h3>Links</h3>
  <h4>Art &amp; Design</h4>
  <ul>
    <li><a href="http://www.kateclark.com/" target="_blank">Kate Clark</a></li>
    <li><a href="http://www.badscience.org/" target="_blank">Lane Hall</a></li>
    <li><a href="http://www.lombard-freid.com/home.htm target="_blank"">Tala Madani</a></li>
    <li><a href="http://andymasur.com/main" target="_blank">Andy Masur</a></li>
    <li><a href="http://skyemcneill.com/art/ target="_blank"">Skye McNeill</a></li>
    <li><a href="http://artistshannonrankin.com/home.html" target="_blank">Shannon Rankin</a></li>
    <li><a href="http://artistjustinrichel.com/home.html" target="_blank">Justin Richel</a></li>
    <li><a href="http://local-artists.org/users/mei-ling-shaw-williams" target="_blank">Mei-Ling Shaw Williams</a></li>
    <li><a href="http://mam.org/afterdark/" target="_blank">MAM (After Dark)</a></li>
  </ul>
  <h4>Bookstores &amp; Reading Series</h4>
  <ul>
    <li><a href="http://bonkperformanceseries.wordpress.com/" target="_blank">BONK!</a></li>
    <li><a href="http://www.noslander.com/dannys.html" target="_blank">Danny's Reading Series</a></li>
    <li><a href="http://www.monstersofpoetry.org/Home.html" target="_blank">Monsters of Poetry</a></li>
    <li><a href="http://www.myopicbookstore.com/poetry.html" target="_blank">Myopic</a></li>
    <li><a href="http://www.prairielights.com/" target="_blank">Prairie Lights</a></li>
    <li><a href="http://www.recroomers.com/" target="_blank">Rec Room</a></li>
    <li><a href="http://wheneverwefeellikeit.blogspot.com/" target="_blank">Whenever We Feel Like It</a></li>
    <li><a href="http://www.woodlandpattern.org/" target="_blank">Woodland Pattern</a></li>
  </ul>
  <h4>Books &amp; Chapbooks</h4>
  <ul>
    <li><a href="http://ahsahtapress.boisestate.edu/" target="_blank">Ahsahta Press</a></li>
    <li><a href="http://www.alicejamesbooks.org/" target="_blank">Alice James Books</a></li>
    <li><a href="http://www.blackocean.org/" target="_blank">Black Ocean</a></li>
    <li><a href="http://www.canariumbooks.org/" target="_blank">Canarium Books</a></li>
    <li><a href="http://www.cosanostra-editions.com/" target="_blank">Cosa Nostra Editions</a></li>
    <li><a href="http://www.csuohio.edu/poetrycenter/" target="_blank">CSU Poetry</a></li>
    <li><a href="http://www.essaypress.org/" target="_blank">Essay Press</a></li>
    <li><a href="http://www.factoryhollowpress.com/" target="_blank">Factory Hollow Press</a></li>
    <li><a href="http://www.featherproof.com/Mambo/" target="_blank">Featherproof Books</a></li>
    <li><a href="http://fencebooks.fenceportal.org/" target="_blank">Fence Books</a></li>
    <li><a href="http://www.floodeditions.com/" target="_blank">Flood Editions</a></li>
    <li><a href="http://www.uiowapress.org/search/browse-series/browse-KHP.htm" target="_blank">Kuhl House Poets</a></li>
    <li><a href="http://www.lettermachine.org/index.html" target="_blank">Letter Machine Editions</a></li>
    <li><a href="http://marcelpress.wordpress.com/" target="_blank">Mercel Press (&amp; Parcel)</a></li>
    <li><a href="http://www.nightboat.org/" target="_blank">Nightboat Books</a></li>
    <li><a href="http://www.omnidawn.com/" target="_blank">Omnidawn</a></li>
    <li><a href="http://www.rosemetalpress.com/index.html" target="_blank">Rose Metal Press</a></li>
    <li><a href="http://www.sarabandebooks.org/" target="_blank">Sarabande Books</a></li>
    <li><a href="http://www.tarpaulinsky.com/" target="_blank">Tarpualin Sky Press</a></li>
    <li><a href="http://www.tupelopress.org/" target="_blank">Tupelo Press</a></li>
  </ul>
  <h4>Journals</h4>
  <ul>
    <li><a href="http://www.journal1913.org/" target="_blank">1913: A Journal of Forms</a></li>
    <li><a href="http://www.apublicspace.org/" target="_blank">A Public Space</a></li>
    <li><a href="http://blackclock.org/" target="_blank">Black Clock</a></li>
    <li><a href="http://humanities.uchicago.edu/orgs/review/" target="_blank">Chicago Review</a></li>
    <li><a href="http://coloradoreview.colostate.edu/" target="_blank">Colorado Review</a></li>
    <li><a href="http://www.denverquarterly.com/" target="_blank">Denver Quarterly</a></li>
    <li><a href="http://www.gutcult.com/" target="_blank">GutCult</a></li>
    <li><a href="http://www.uiowa.edu/~iareview/mainpages/tirweb.html" target="_blank">Iowa Review</a></li>
    <li><a href="http://www.jubilat.org/jubilat/n16/" target="_blank">Jubilat</a></li>
    <li><a href="http://www.kenyonreview.org/" target="_blank">Kenyon Review</a></li>
    <li><a href="http://thelaughchild.org/" target="_blank">The Laugh Child</a></li>
    <li><a href="http://makemag.com/" target="_blank">MAKE Magazine</a></li>
    <li><a href="http://www.ninthletter.com/" target="_blank">Ninth Letter</a></li>
    <li><a href="http://www.notnostrums.com/" target="_blank">Notnostrums</a></li>
    <li><a href="http://www.octopusmagazine.com/" target="_blank">Octopus Magazine</a></li>
    <li><a href="http://www.thermosmag.com/" target="_blank">Thermos</a></li>
  </ul>
  <h4>Science &amp; Nature</h4>
  <ul>
    <li><a href="http://www.americanscientist.org/" target="_blank">American Scientist</a></li>
    <li><a href="http://www.antennae.org.uk/" target="_blank">Antennae</a></li>
    <li><a href="http://www.glwi.uwm.edu/" target="_blank">Great Lakes Water Institute</a></li>
    <li><a href="http://www.psychologytoday.com/" target="_blank">Psychology Today</a></li>
    <li><a href="http://www.sciencedaily.com/" target="_blank">Science Daily</a></li>
    <li><a href="http://www.urbanecologycenter.org/" target="_blank">Urban Ecology Center</a></li>
  </ul>
  <h4>Other</h4>
  <ul>
    <li><a href="http://www.bookslut.com/" target="_blank">Bookslut</a></li>
    <li><a href="http://www.chicagorarities.org/" target="_blank">Chicago Rarities Orchard Project</a></li>
    <li><a href="http://desmoinessocialclub.org/" target="_blank">Des Moines Social Club</a></li>
    <li><a href="http://www.fawc.org/index.php" target="_blank">Fine Arts Work Center in Provincetown</a></li>
    <li><a href="http://freedarko.blogspot.com/" target="_blank">Free Darko</a></li>
    <li><a href="http://www.thegreenmama.com/" target="_blank">The Green Mama</a></li>
    <li><a href="http://www.continuetolearn.uiowa.edu/iswfest/" target="_blank">Iowa Summer Writing Festival</a></li>
    <li><a href="http://www.miad.edu/" target="_blank">Milwaukee Institute of Art and Design</a></li>
    <li><a href="http://www.spdbooks.org/" target="_blank">Small Press Distribution</a></li>
    <li><a href="http://smokingsection.uproxx.com/TSS/" target="_blank">Smoking Section</a></li>
  </ul>
  <h4>Technology &amp; Computers</h4>
  <ul>
    <li><a href="http://www.8thlight.com" target="_blank">8th Light</a></li>
    <li><a href="http://c2.com/~ward/" target="_blank">Ward Cunningham</a></li>
  </ul>
</div>
<aside class="snippet">
  <figure>
    <%=image_tag "rescue-eagle.png"%>
  </figure>
</aside>
