<div class="news">
  <h3>News</h3>
  <article>
    <ol>
      <li>
        <p>
          For more frequent updates about author readings, Rescue news, upcoming titles, and reviews, visit our <a href="http://rescuepress.wordpress.com/">blog</a> or <a href="http://www.facebook.com/pages/Rescue-Press/323432508552">Facebook</a> page. 
        </p>
    </ol>
  </article>
</div>
<aside class="snippet">
  <figure>
    <%=image_tag "rescue-eagle.png"%>
  </figure>
</aside>

