<div class="news">
  <h3>News</h3>
  <article>
  <h2>Rescue Events at the 2012 AWP in Chicago:</h2>
  <ol>
    <li>
      <p>
        On Wednesday evening Rescue Press will pair up with Parlor Press and Shearsman        Books at Columbia College for a reading featuring:
      </p>
      <p>
        Rosa Alcalá, Jennifer Atkinson, Molly Bendall, Blueberry Morningsnow, 
        Shira Dentz, Lisa Fishman, Carol Guess, Jill Magi, Becka Mara McKay, Caryl 
        Pagel, Philip Sorensen, Andrea Rexilius and Jon Thompson.
      </p>  
    </li>
    <figure class="news-poster light">
      <%=image_tag "rescuerdg.jpg"%>
    </figure>
    <li>
      <p>
        Rescue Press, Canarium Books, Factory Hollow Press, and Transom Journal 
        invite you to an offsite reading on Friday night, March 2nd, starting at 
        7:00pm. It’ll be a big old party with poetry, fiction, a film, a dream, 
        and an open bar.
      </p>
    </li>
  </ol>
  <h3>
    The address is: <em>656 West Randolph, #5E</em>.
  </h3>
    <ul class="small-list">
      <li>Dream: Kevin Gonzalez (Rescue)</li>
      <li>Poetry: Darcie Dennigan (Canarium)</li>
      <li>Poetry: Marc Rahe (Rescue)</li>
      <li>Poetry: Ata Moharreri (Factory Hollow)</li>
      <li>Poetry: Kaethe Schwehn (Transom)</li>
      <li>Fiction: Madeline McDonnell (Rescue)</li>
      <li>Poetry: MA Vizsolyi (Transom)</li>
      <li>Poetry: Anthony Madrid (Canarium)</li>
      <li>Poetry: Alex Phillips (Factory Hollow)</li>
      <li>Short Film: Nick Twemlow (Canarium)</li>
    </ul>
  </article>
  <article>
  <p>
    Rescue Press is excited to announce our 2011-12 Catalog, which includes the following astonishing, transforming, haunting, heartening, and spectacular publications: 
  </p>
  <ul>
    <li>
      Melissa Dickey: <cite>The Lily Will (poetry)</cite>
    </li>
    <li>
      Danielle Rosen / Patricia Rose: <cite>The Institute for Species Systemization: 
      An Experimental Archive</cite> (a gathering of research, data, and writing from the 
      <a href="http://www.instituteforspeciessystemization.org/"  target="_blank">Institute for Species Systemization)</a>
    </li>
    <li>
      Vinnie Wilhelm: <cite>In the Absence of Predators</cite> (stories)
    </li>
    <li>
      Blueberry Morningsnow: <cite>Whale in the Woods</cite> (poetry, winner of The Black Box Poetry Prize)
    </li>
    <li>
      Philip Sorenson: <cite>Of Embodies</cite> (poetry)
    </li>
    
    <li>
    Follow updates on our <a href="http://rescuepress.wordpress.com/" target="_blank">blog</a> here or on 
    <a href="http://www.facebook.com/pages/Rescue-Press/323432508552" target="_blank">Facebook</a>.
    </li>
  </ul>
</article>
</div>
<aside class="snippet">
  <figure>
    <%=image_tag "rescue-eagle.png"%>
  </figure>
</aside>

