<div class="news">
  <p>
    Rescue Press is excited to announce the release of our 2011 Fall Catalogue, 
    which includes the following astonishing, transforming, haunting, heartening, 
    and spectacular publications:
  </p>
  <ul>
    <li>
      <cite>Melissa Dickey</cite>: The Lily Will (a book-length collection of poems)
    </li>
    <li>
      <cite>Danielle Rosen</cite>/<cite>Patricia Rose</cite>: The Institute for Species Systemization: 
      An Experimental Archive (a gathering of research, data, and writing from the 
      <a href="http://www.instituteforspeciessystemization.org/"  target="_blank">Institute for Species Systemization)</a>
    </li>
    <li>
      <cite>Vinnie Wilhelm</cite>: In the Absence of Predators (a collection of five short stories)
    </li>
    <li>
    Also, check back soon for the results of our first poetry contest, 
    <%= link_to "The Black Box Poetry Prize", submissions_path%>, judged by Sabrina Orah Mark.
    </li>
    <li>
    Follow updates on our <a href="http://rescuepress.wordpress.com/" target="_blank">blog</a> here or on 
    <a href="http://www.facebook.com/pages/Rescue-Press/323432508552" target="_blank">Facebook</a>.
    </li>
  </ul>
</div>
<aside class="snippet">
  <figure>
    <%=image_tag "rescue-eagle.png"%>
  </figure>
</aside>

