<div class="submissions">
  <h3>Submissions</h3>
  <article>
    <h2>THE BLACK BOX POETRY PRIZE
    July, 2012
    Judge: Zach Savich
    </h2>
    <p>
Rescue Press will present The Black Box Poetry Prize, a contest for full-length collections of poetry, open to poets at any stage in their writing careers. This year’s submissions will be accepted during the month of July 2012. More information and guidelines for submitting your manuscript will be coming soon on this page and our blog.         
    </p>
  </article>
</div>
<aside class="snippet">
  <figure>
    <%= image_tag "drag-man.jpg"%>
  </figure>
</aside>
