<div class="submissions">
  <article>
    <h2>Dear Friends, Readers, Artists, & Merry Pranksters;</h2>
    <p>
    Rescue Press is excited to announce <b>Blueberry Morningsnow</b> as the winner of this year’s Black Box Poetry Prize. Blueberry’s manuscript, <i>Whale In The Woods</i>, was chosen by our wonderful judge, Sabrina Orah Mark.
    </p>
    <p>
    Rescue Press has also selected <b>Philip Sorenson’s</b> <i>Of Embodies</i> for publication as our Editor’s Choice. Look for both of these books in Spring 2012!
    </p>
    <p>
    Congratulations to the winners, and thank you to all who entered. We would also like to recognize the finalists, whose manuscripts were truly astonishing:
    </p>
    <div class="finalists">
      <ul>
        <li>Michael Rerick: <i>OdeIss/heIs</i></li>
        <li>Rochelle Hurt: <i>The Rusted City </i></li>
        <li>Brenda Sieczkowski: <i>Like Oysters Observing the Sun</i></li>
        <li>Lesley Yalen: <i>The Hearts of Vikings</i></li>
        <li>Laressa Dickey: <i>Bottomland</i></li>
        <li>Nicole Wilson: <i>Supper & Repair Kit</i></li>
        <li>Lily Ladewig: <i>The Silhouettes</i></li>
        <li>Eileen G’Sell: <i>Euphoria Takes One For The Team</i></li>
        <li>Phil Estes: <i>High Life</i></li>
      </ul>
    </div>
  </article>
</div>
<aside class="snippet">
  <figure>
    <%= image_tag "drag-man.jpg"%>
  </figure>
</aside>
