<div class="submissions">
  <h3>Submissions</h3>
  <article>    
    Rescue Press is not currently accepting submissions.
  </article>
</div>
<aside class="snippet">
  <figure>
    <%= image_tag "drag-man.jpg"%>
  </figure>
</aside>
