<div class="submissions">
  <h3>Submissions</h3>
  <article>
    <h2>Open Prose Series</h2>
    <p>
      This winter Rescue+Press will consider book-length prose submissions for our new Open Prose Series, which will publish one work a year of nonfiction, fiction, or sui generis prose. This series will support singular prose works and the wider discussion of contemporary literary prose. We invite you to submit a manuscript to our open reading period between January 1 and January 31, 2013. There is no fee for submission nor are there restrictions on who may submit. All submissions will be reviewed by series editors Hilary Plum and Zach Savich, who will work with the editors of Rescue+Press to select a manuscript for publication. We expect to make a decision by April 2013.
    </p>
    <p>
      Please send submissions to rescueopenprose [at] gmail.com along with a biographical note and a brief statement about your work. Manuscripts should be sent as .pdf, .doc, .docx, or .rtf attachments.
    </p>
  </article>
</div>
<aside class="snippet">
  <figure>
    <%= image_tag "drag-man.jpg"%>
  </figure>
</aside>
