<div class="submissions">
  <h3>Submissions</h3>
  <article>    
    <p>
      Currently no open submissions.
    </p>
  </article>
</div>
<aside class="snippet">
  <figure>
    <%= image_tag "drag-man.jpg"%>
  </figure>
</aside>
