<div class="submissions">
  <h3>Submissions</h3>
  <article>    
    <h2>The Black Box Poetry Prize</h2>
    <p>June, 2013</p>
    <p>Judge: Heather Christle</p>

    <p>
    Rescue Press presents The Black Box Poetry Prize, a contest for full-length collections of poetry, open to poets at any stage in their writing careers. This year’s submissions will be accepted during the month of June 2013. To enter:
    </p>
    <ol>
    <li><p>Attach your manuscript and cover letter to an email (.pdf or .doc only) addressed to: <a href="mailto:rescuepressprize@gmail.com">rescuepressprize@gmail.com</a>. The cover letter should briefly introduce yourself and include any biographical details, acknowledgements, contact information, or notes you may wish to send. Your name should not appear in the manuscript beyond the title page, and simultaneous submissions are allowed but please notify the editors if your manuscript is accepted elsewhere. Students or close friends of the judge are ineligible.</li></p>

    <li><p>Participants have the option to submit a reading fee <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4E5EWWKX8KWPW">via this Paypal link</a>. Rescue Press is supporting an offer-what-you-will payment method. In other words, you are not required to pay a fee in order to enter the contest but donations of any amount are appreciated and go toward publishing the winning manuscript and potentially an editor’s choice. Let us know if you have questions.
    </li></p>

    <li><p>Rescue Press editors will send a select number of anonymous manuscripts to our judge, Heather Christle, who will choose the 2013 Black Box Poetry Prize winner. Results will be announced in Fall 2013 on our website and via email, and the winning manuscript(s) will be published in Fall 2014.
      </li></p>
    </ol>

    <p>Judge: <a href="http://heatherchristle.tumblr.com/">Heather Christle</a> is the author of <a href="http://heatherchristle.tumblr.com/whatisamazing">What Is Amazing</a> (Wesleyan University Press, 2012), <a href="http://heatherchristle.tumblr.com/difficultfarm">The Difficult Farm</a> (Octopus Books, 2009), and <a href="http://heatherchristle.tumblr.com/thetrees">The Trees The Trees</a> (Octopus Books, 2011), which won the 2012 Believer Poetry Award. Her poems have appeared in publications including Boston Review, Gulf Coast, The New Yorker, and The Best American Poetry. She has taught poetry at Sarah Lawrence College, the University of Massachusetts Amherst, and Emory University, where she was the 2009-2011 Poetry Writing Fellow. She is the Web Editor for <a href="http://www.jubilat.org/jubilat/">jubilat</a> and frequently a writer in residence at the Juniper Summer Writing Institute. A native of Wolfeboro, New Hampshire, she lives in Yellow Springs, OH.</p>

    
    <h3>Previous Winners:</h3>
    
    <p><b>2011</b></p>
    <p>Judge’s Choice: Blueberry Morningsnow’s <a href="http://www.rescue-press.org/main/purchase#10">WHALE IN THE WOODS</a>, selected by Sabrina Orah Mark</p>
    <p>Editor’s Choice: Philip Sorenson’s <a href = "http://www.rescue-press.org/main/purchase#9">OF EMBODIES</a></p>

    <p><b>2012</b></p>
    <p>Judge’s Choice: Todd Melicker’s <a href="http://rescuepress.wordpress.com/2012/09/26/2012-black-box-poetry-prize-results/">RENDEZVOUS</a>, selected by Zach Savich</p>
    <p>Editor’s Choice: Hannah Brooks-Motl’s <a href="http://rescuepress.wordpress.com/2012/09/26/2012-black-box-poetry-prize-results/">THE NEW YEARS</a></p>
    
  </article>
</div>
<aside class="snippet">
  <figure>
    <%= image_tag "drag-man.jpg"%>
  </figure>
</aside>
