<div class="submissions">
  <h3>Submissions</h3>
  <article>
    <h2>THE BLACK BOX POETRY PRIZE
    July, 2012
    Judge: Zach Savich
    </h2>
    <p>
Results of this year’s Black Box Poetry Prize will be announced in Fall 2012 on our website and via email, and the winning manuscript(s) will be published in Fall 2013.        
    </p>
  </  article>
</div>
<aside class="snippet">
  <figure>
    <%= image_tag "drag-man.jpg"%>
  </figure>
</aside>
