<div class="submissions">
  <div class="ribbon">
  </div> 
  <article>
    <h2>Rescue Press Presents:</h2>
    <h4 class="event">THE BLACK BOX POETRY PRIZE</h4>
    <h4>June, 2011 <em class="closed">(Submission Period Closed)</em></h4>
    <cite>Judge: Sabrina Orah Mark</cite>
    <p>
      Rescue Press presents The Black Box Poetry Prize, a contest for full-length 
      collections of poetry, open to poets at any stage in their writing careers. 
      This year’s submissions were accepted during the month of June, 2011. 
    </p>
    <p>
      Rescue Press will carefully read all submissions and send a select number of 
      blind/anonymous manuscripts on to our judge, Sabrina Orah Mark, who will choose 
      The Black Box Poetry Prize winner. Editors may choose to publish additional 
      manuscripts; results will be announced in Fall 2011 on our website and via email. 
    </p>
    <p>
      Judge: Sabrina Orah Mark is the author of the book-length poetry collections The 
      Babies (2004), winner of the Saturnalia Book Prize, and Tsim Tsum (2009), as well 
      as the chapbook Walter B.’s Extraordinary Cousin Arrives for a Visit & Other Tales 
      from Woodland Editions. 
    </p>
    <p>
      Mark’s awards include a National Endowment for the Arts 
      Fellowship and a fellowship from the Fine Arts Work Center in Provincetown. Her 
      poems have been included in Best American Poetry 2007 and the anthology Legitimate 
      Dangers: American Poets of the New Century (2006).
    </p>
  </article>
</div>
<aside class="snippet">
  <figure>
    <%= image_tag "drag-man.jpg"%>
  </figure>
</aside>
