<div class="submissions">
  <h3>Submissions</h3>
  <article>
    <h2>THE BLACK BOX POETRY PRIZE</h2>
    <h2>July, 2012</h2>
    <h2>Judge: Zach Savich</h2>
    </h2>
    <p>
Rescue Press presents The Black Box Poetry Prize, a contest for full-length collections of poetry, open to poets at any stage in their writing careers. This year’s submissions will be accepted during the month of July 2012. To enter:    
    </p>
    
    <ol>
      <li>
        <p>Attach your manuscript and cover letter to an email (.pdf or .doc only) addressed to: rescuepressprize@gmail.com. The cover letter should briefly introduce yourself and include any biographical details, acknowledgements, contact information, or notes you may wish to send. Your name should not appear in the manuscript beyond the title page, and simultaneous submissions are allowed but please notify the editors if your manuscript is accepted elsewhere. Students or close friends of the judge are ineligible.</p>
      </li>
      <li>
        <p>Participants have the option to submit a reading fee via the Paypal link on this page. It’s Radiohead-style. Fence-style. Offer-what-you-will. You are not required to pay a fee in order to enter the contest, but donations of any amount are appreciated and go toward publishing the winning manuscript and potentially an editor’s choice. Let us know if you have questions.</p>
      </li>
      <li>
        <p>Rescue Press editors and readers will send a select number of anonymous manuscripts on to our judge, Zach Savich, who will choose The 2012 Black Box Poetry Prize winner. Results will be announced in Fall 2012 on our website and via email, and the winning manuscript(s) will be published in Fall 2013.</p>
      </li>
    </ol>
        
  <p>
    Previous Winners: 
    Blueberry Morningsnow’s WHALE IN THE WOODS, selected by Sabrian Orah Mark
  </p>
  </article>
</div>
<aside class="snippet">
  <figure>
    <%= image_tag "drag-man.jpg"%>
  </figure>
</aside>

