<div class="submissions">
  <h3>Submissions</h3>
  <article>
    <h2>Rescue Press is not currently reading submissions at this time.</h2>
  </article>
</div>
<aside class="snippet">
  <figure>
    <%= image_tag "drag-man.jpg"%>
  </figure>
</aside>
